.input_box{
    margin-top:55px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input_line{
    width: 70%;
    direction:rtl;
    border-color: gray;
    border-width: 1px;
    border-radius: 10px;
}

.input_error{
    text-align: center;
    font-weight: 900;
    color:red;
}